body {
  background-image: url("../media/grey.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 7px;
  font-family: Arial, sans-serif;
  color: black; /* Sets the default text color to black */
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
  z-index: auto;
}

td {
  font-size: 1em;
  line-height: 1.6;
  color: black; /* Ensures table text is black */
}

div {
  text-align: center;
  color: black; /* Ensures div text is black */
}

li {
  color: black;
  font-size: 1em;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Devonshire', Georgia;
}

header a .image1 img {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

td, th {
  border: 1px solid black; /* Changes the border outline to black */
  color: black; /* Ensures table header and cell text is black */
  font-family: "Arial", cursive;
}
